.close-button-and-ratings-header-for-popup-box {
    display: flex;
    justify-content: space-between;
    padding: 0 0 0 1em;
    align-items: center;
    background-color: rgb(242, 236, 236);
  }
  
  .close-btn-ratings {
    width: 2em;
    height: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .close-btn-ratings:hover {
    background-color: red;
    cursor: pointer;
    color: white;
  }
  .tablist-section-for-the-Ratings-and-RatingsOptions {
  }

  .container-for-the-ratings {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .width-set-for-the-ratings {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 70%;
    height: 80%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid #ccc;
    z-index: 9999; /* Ensure the popup is above other elements */
  }
  .horizontal-tab-list-ratings {
    background-color: rgb(229, 229, 229);
    display: flex;
    border-bottom: 1px solid #8080804a;
  }
  .active-tab-list-ratings {
    width: 10em;
    height: 2.5em;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .tab-content-area-ratings {
    background-color: rgb(229, 229, 229);
    padding: 1em;
    font-size: 15px;
    text-align: left;

  }
 .text-ratings{
    font-size: 14px;
 }
 .ranting-box{
    background-color: white;
    margin-top: 1em;
 }
 .name-icon-box-rating{
    padding: 1em;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-between;
    border: 1px solid black;
 }