.draw-rectangle-main-container {
  /* border: 2px solid; */
  height: 37em;
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50em;
  overflow-y: auto;
}
.draw-rectangle-container {
  position: relative;
  /* border: 2px solid; */
  max-width: 780px;
  max-height: 576px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: crosshair;
}

.canvas-for-draw-rectangle-content {
}
.Buttons-undo-redo-conatainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}
.Buttons-undo-redo-yytytyt {
  margin-left: 1em;
  background-color: #f3f2f1;
  color: black;
  border: 2px solid rgb(191, 189, 189);
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px 0 10px;
}
.Buttons-undo-redo-yytytyt:hover {
  background-color: #d7e9f7;
  border-color: #005a9e;
}
