.caption-main-input-field-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 14px;
  padding: 5px 0 5px 5px;
}
.Caption-main-input-filed {
  width: 710px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  border-radius: 2px;
}
.Caption-main-input-filed:hover {
  border: 1px solid orange;
}
.Caption-image-toopen-popupbox {
  /* cursor: pointer; */
  /* background-color: white; */
  padding: 3px;
  /* margin-top: -25px;
  margin-left: 703px; */
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.Caption-image-toopen-popupbox:hover {
  border: 1px solid black;
}
.Caption-main-popup-container {
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #d3d3d3;
  border: solid 1px rgb(191, 189, 189);
  z-index: 999;
}
.caption-popupbox-input-filed {
  width: 960px;
  height: 400px;
  /* margin-bottom: 30px; */
  margin: 1em;
}
.caption-popupbox-input-filed:hover {
  border: 2px solid orange;
}
.caption-popupbox-buttons-main-container {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
  /* margin-left: 4em; */
  margin: 1em;
}

.caption-popupbox-btns {
  padding-left: 25px;
  padding-right: 25px;
  background-color: #f3f2f1;
  color: black;
  border: 2px solid rgb(191, 189, 189);
  border-radius: 5px;
  cursor: pointer;
}

.caption-popup-close-image {
  /* width: 15px;
  height: 15px; */
  cursor: pointer;
  width: 31px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.caption-popup-caption-editor {
  padding-left: 5px;
  font-size: 17px;
}
.caption-popup-close-image-contaier {
  display: flex;
  justify-content: flex-end;
}
.caption-popup-caption-editor-container {
  /* margin-left: 0px; */
  display: flex;
  justify-content: space-between;
}
.caption-popup-caption-editor-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(242, 236, 236);

  border: solid 1px rgb(191, 189, 189);
  padding: 0px 0 0 1em;
  height: 2em;
}
.caption-popupbox-btns:hover {
  background-color: #d7e9f7;
  border-color: #005a9e;
}

.caption-popup-close-image:hover {
  background-color: red;
  color: white;
}
.caption-popup-close-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.caption-main-input-field {
  margin: 10px 0 0 5px;
}
.tag-for-line-draw-through-text {
  padding: 0 4px 0 4px;
  margin-left: 0.5em;
  font-size: 17px;
}
.bordered-text-caption {
  border: 1px solid gray;
  margin-top: 12px;
}
