body{
    background-color: #fee4c3;
}
.container-panel2 {
    display: flex;
    /* justify-content: center; */
    
    
}
.scroll-box4-panel5{
    margin-left: 1.5%;
    width: 10.625em;
    height: 4.3125em;
    border: solid black 1px;
    padding-left: 10px;
    justify-content: center;

  }