.photo-review-tablist-buttons {
  display: flex;
}

.photo-review-tablist-buttons button {
  margin-right: 10px;
}
/* .opened-tab-for-tablist {
  border-bottom: 2px solid;
} */
.opened-tab-for-tablist-name {
  padding-left: 0.5em;
}

.tab1-container-buttons.active {
  background-color: rgb(193, 193, 203);
}
