.content-for-the-company-info {
  font-size: 14px;
  letter-spacing: 0.1px;
  /* margin-top: 1em; */
  width: 100%;
  text-align: center;
  /* padding-bottom: 12em; */
}
/* .draggable-text {
  display: flex;
  justify-content: center;
  position: relative;
  top: 8em;
} */
.fname-and-lname-content-for-the-company-info > input {
  /* text-align: center; */
  height: 2em;
}
.email-and-mob-number-section-for-company-info {
  display: grid;
  justify-content: center;
}
.email-and-mob-number-section-for-company-info > input {
  text-align: center;
  /* display: grid; */
  height: 2.5em;
  width: 100%;
}
.name-input-container {
  display: flex;
}

.name-input-for-first-name-cover-page {
  text-align: right;
}

.name-input-for-last-name-cover-page {
  text-align: left;
}
.fname-and-lname-content-for-the-company-info {
  display: flex;
  gap: 1em;
}
.other-client-info-for-cover-page-genearate-report {
  display: grid;
  justify-content: center;
  /* gap: 1em; */
}
.for-flexing-input-and-label-cover-page {
  display: flex;
  gap: 0.5em;
  align-items: center;
}
.for-flexing-input-and-label-cover-page > input {
  height: 2em;
}
