/* .preview-image-brightness {
  width: 50%;
  height: 50%;
} */
.preview-image-brightness {
  /* display: grid;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* top: 51px; */
  /* position: relative;
  margin-top: 3em;  */
  display: block;
  width: 100%;
  height: 500px;
  margin-top: 2em;
}
.brightness-control {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-top: 1em;
}
.image-container-adjust-brightness {
  position: relative;
  width: auto;
  cursor: crosshair;
}
.Buttons-undo-redo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
}
.Buttons-undo-redo-yytytyt {
  margin-left: 1em;
  background-color: #f3f2f1;
  color: black;
  border: 2px solid rgb(191, 189, 189);
  border-radius: 5px;
  cursor: pointer;
  padding: 0 10px 0 10px;
}
.Buttons-undo-redo-yytytyt:hover {
  background-color: #d7e9f7;
  border-color: #005a9e;
}
